.button__primary {
    font-size: .9rem;
    font-weight: $bold;
    border: none;
    border-radius: 3px;
    padding: .5rem 1rem;

    &.button__primary--green {
        background-color: $midgreen;
        color: $white;
    }
}

.button__secondary {
    font-size: .9rem;
    border: 1px solid;
    border-radius: 3px;
    padding: .3rem 1rem;
    background-color: transparent;
    border-color: $midgrey;
    color: $midgrey;

    &.button__secondary--green {
        border-color: $midgreen;
        color: $midgreen;
    }
}

.button__link {
    font-size: .9rem;
    border: none;
    background-color: transparent;
    text-decoration: underline;

    &.button__link--green {
        color: $midgreen;
    }
}