$white: #fff;
$black: #333;
$black100: #000;

// GREY -------------------------------------------------------
$lighterlightgrey: #F9F9F9;
$lightergrey: #EBEBEB;
$lightgrey: #CBCBCB;
$midgrey: #999999;
$darkgrey: #686868;
$darkergrey: #474747;

// GREEN ------------------------------------------------------
$lightergreen: #edfaed;
$lightgreen: #A1DB9F;
$midgreen: #5abc6e;
$darkgreen: #2b8955;
$specialdarkgreen: #306e3e;
$shinegreen: #52ef4d;
$darkshinegreen: #41d43d;

// BLUE --------------------------------------------------------
$lightblue: #A0CFEF;
$midblue: #2794f2;
$darkblue: #2D6597;

// YELLOW ------------------------------------------------------
$lightyellow: #FFE2B0;
$midyellow: #FDB515;
$darkyellow: #CB7317;
$specialyellow: #ffde00;

// RED ---------------------------------------------------------
$lightred: #ED9FA2;
$midred: #EF1805;
$darkred: #BF1E26;