$defaultfontsize: 16px;
// Font weight
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$extrabold:800;

// Breakpoints
// Specify each deivce and their respective breakpoint.
// Usage: $device-name (string), breakpoint (integer). Default unit is pixels.
$mobile: 480;
$tablet: 768; // need to be 712 instead 768 because of samsung s4 tablet
$laptop: 992;
$desktop: 1200;
$bigscreen: 1600;
// Specify the unit you wish to use.
// Usage: $unit (px, em, rem etc). Default unit is pixels.
$unit: px;

